body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 8px;
  line-height: 1.2;
}

.app {
  max-width: 500px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.header .logo {
  display: block;
  width: 96px;
  height: 96px;
}

.header nav {
  margin-left: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header nav yl {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header nav ul li {
  margin: 0 15px 0 0;
  padding: 0;
  display: inline-block;
}

.header nav ul li:last-child {
  margin: 0;
}

a {
  color: #000;
}

.page {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 10px;
}

.logo {
  display: block;
  width: 90px;
  height: 90px;
}
.clock {
  border: 1px solid black;
  border-radius: 10px;
  font-size: 16px;
  padding: 15px;
  margin-bottom: 10px;
}
.lot {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

button {
  cursor: pointer;

  border-radius: 4px;
  padding: 4px 6px;
  font-size: 0.8rem;
  outline: none;
}

button.favorite {
  background: #fff;
  border: 1px solid #999;
  color: #000;
}

button.unfavorite {
  background: #fff;
  border: 1px solid #ff8c68;
  color: #dc0000;
}

.lot.favorite {
  border-color: #ffd7cb;
  background-color: #ffd7cb;
}

.price {
  text-align: end;
}

.loading {
  background-color: rgb(184, 182, 182);
  padding: 15px;
  text-align: center;
  border-radius: 10px;
}
