body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 8px;
  line-height: 1.2;
}

.app {
  max-width: 500px;
}

.header {
  margin-bottom: 10px;
}

.logo {
  display: block;
  width: 90px;
  height: 90px;
}
.clock {
  border: 1px solid black;
  border-radius: 10px;
  font-size: 16px;
  padding: 15px;
  margin-bottom: 10px;
}
.lot {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid black;
}
.price {
  text-align: end;
}

.loading {
  background-color: rgb(184, 182, 182);
  padding: 15px;
  text-align: center;
  border-radius: 10px;
}
